<a href="https://colab.research.google.com/github/Ekram49/DS-Unit-2-Linear-Models/blob/master/Ekram_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

# Train/Test split

In [0]:
df['created'] = pd.to_datetime(df['created'])

In [0]:
train = df[df["created"] < pd.to_datetime('2016-06-01')]
test = df[df["created"] >= pd.to_datetime('2016-06-01')]

# Training data

In [8]:
train.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0
5        2.0         4  ...                 0                    0
6        1.0         2  ...                 0                    0

[5 rows x 34 columns]

# Testing data

In [9]:
test.head()

    bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0         1.5         3  ...                 0                    0
1         1.0         2  ...                 0                    0
11        1.0         1  ...                 0                    0
14        1.0         1  ...                 0                    0
24        2.0         4  ...                 0                    0

[5 rows x 34 columns]

# Making new features
1. Cats and dogs both allowed
2. Ratio of beds and baths

In [10]:
df['cats_&_dogs_allowed'] = df['cats_allowed'] & df['dogs_allowed']
df.head()

   bathrooms  bedrooms  ... common_outdoor_space cats_&_dogs_allowed
0        1.5         3  ...                    0                   0
1        1.0         2  ...                    0                   1
2        1.0         1  ...                    0                   0
3        1.0         1  ...                    0                   0
4        1.0         4  ...                    0                   0

[5 rows x 35 columns]

In [11]:
df['ratio_of_beds/baths'] = df['bedrooms'] / df['bathrooms']
df.head()

   bathrooms  bedrooms  ... cats_&_dogs_allowed ratio_of_beds/baths
0        1.5         3  ...                   0                 2.0
1        1.0         2  ...                   1                 2.0
2        1.0         1  ...                   0                 1.0
3        1.0         1  ...                   0                 1.0
4        1.0         4  ...                   0                 4.0

[5 rows x 36 columns]

# Linear regression model with at least two features

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import plotly.express as px

In [0]:
model = LinearRegression()

In [0]:
train = df[df["created"] < pd.to_datetime('2016-06-01')]
test = df[df["created"] >= pd.to_datetime('2016-06-01')]

In [0]:
target = 'price'
features = ['bedrooms', 'bathrooms']

In [0]:
X_train = train[features]
X_test = test[features]
y_train = train[target]
y_test = test[target]

In [36]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Model's coefficients and intercept

In [52]:
model.intercept_

485.71869002322273

In [53]:
model.coef_

array([ 389.3248959 , 2072.61011639])

# Regression metrics RMSE, MAE, and  R2 , for both the train and test data

In [0]:
guess = y_train.mean()

In [0]:
y_pred_trn = [guess] * len(y_train)

In [0]:
y_pred_tst = [guess] * len(y_test)

# MAE

In [67]:
# MAE for training data
mse_trn = mean_absolute_error(y_train,y_pred_trn)
mse_trn

1201.8811133682555

In [68]:
# MAE for test data
mse_tst = mean_absolute_error(y_test,y_pred_tst)
mse_tst

1197.7088871089013

In [70]:
# RMSE for training data
rmse_trn = np.sqrt(mse_trn)
rmse_trn

34.66815705179979

In [71]:
# RMSE for test data
rmse_tst = np.sqrt(mse_tst)
rmse_tst

34.60793098567005

In [72]:
# R2 score for training data
r2_score(y_test, y_pred_tst)

-4.218690517676649e-05

In [73]:
# R2 score for test data
r2_score(y_train, y_pred_trn)

0.0